// ======= SCSS基礎變數 =======
$transition-speed      : 0.3s;
$small-phone-breakpoint: 480px; // 小型手機（最大 480px）
$mobile-breakpoint     : 768px; // 手機 (最大 768px)
$tablet-breakpoint     : 1024px; // 平板 (768px - 1024px)